.item {
  font-size: 18px;
  padding: 10px 15px 5px 15px;
}

.item > img {
  width: 60px;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 0px 0px 5px black;
}

button {
  padding: 5px;
  margin: 10px;
}