.app-wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 1920px;
  box-shadow: 0px 0px 10px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  
  /* direct of grid */
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 1.2fr 10fr;
  grid-gap: 1px;

  grid-template-areas: 
  "n h"
  "n c";
}

.app-wrapper-content {
  background-color: rgb(255, 127, 80);

  /* direct of grid */
  grid-area: c;
}
